<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Lista de Clientes</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- <link rel='stylesheet' href='./datosFiscales.css' /> -->
    <style>
        /* {{CSS_PLACEHOLDER}} */
    </style>
  </head>

  <body>
    <div class='container'>
      <ul id='client-list-container' class='client-list'></ul>
    </div>
    <!-- <script type="module" src="../../../utils/js/execFileMaker.js"></script>
    <script type="module" src='./datosFiscales.js'></script> -->
    <script>
        /* {{JS_PLACEHOLDER}} */
    </script> 
  </body>
</html>
