/* --- ESTILOS GENERALES --- */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
    margin: 0;
    padding: 0px 20px;
}

/* --- CONTENEDOR PRINCIPAL --- */
.container {
    max-width: 800px;
    margin: 7px auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
}

.header {
    padding: 20px;
    background-color: #f7f8fa;
    border-bottom: 1px solid #dddfe2;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #0d1a26;
    text-align: center;
}

/* --- LISTA DE CLIENTES --- */
.client-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* --- TARJETA DE CADA CLIENTE --- */
.client-card {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    border-bottom: 1px solid #e9eaec;
    transition: background-color 0.2s ease-in-out;
    gap: 20px;
}

.client-card:last-child {
    border-bottom: none;
}

.client-card:hover {
    background-color: #fafbfb;
}

/* Contenedor para la información de texto */
.client-info {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    align-items: flex-start;
    width: 100%;
}

.client-name {
    align-items: flex-start;
    font-size: 1.5em;
    font-weight: 600;
    color: #050505;
}

.client-details {
    font-size: 1.0em;
    color: #65676b;
}

.client-details strong {
    color: #333;
}

/* --- Contenedor para el botón de acción --- */
.client-action {
    width: 20%;
    display: flex; 
    justify-content: center;
}

/* --- Botón con hoja --- */
.client-action .select-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/026/328/889/non_2x/add-document-icon-symbol-design-illustration-vector.jpg'); /* hoja original */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.2s ease, transform 0.2s ease;
}


.client-action .select-button:hover {
    background-image: url('https://cdn-icons-png.flaticon.com/512/665/665181.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
    background-color: #ffffff;
}


.noResults {
    display: block;
    padding: 40px 20px;
    margin: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #2b75e8;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}



/* --- MODIFICACIÓN: Texto largo --- */

.client-name.small-text {
    font-size: 1.1em; 
}


.client-details.small-text {
    font-size: 0.85em; 
}
