.close-button {
    position: absolute;      
    left: 1px;              
    background: none;
    border: none;
    color: red;
    font-size: 50px;
    cursor: pointer;
    align-self: auto;
    transition: transform 0.15s ease;
}


.close-button:hover {
    color: darkred;
    transform: scale(1.05);
}

.header {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  position: relative;      
  padding: .5rem .8rem 0.5rem 0.8rem;                   
}

.title {
  margin: 0; 
  font-size: 1.2rem;
  justify-content:center;
  align-items: center;
  align-content: center;
}  


