        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: -apple-system, system-ui, sans-serif;
        }

        gmpx-place-picker {
            --gmpx-color-primary: #0071ea93;
            --gmpx-color-surface: #ffffff;
            --gmpx-color-on-surface: #808080;
            --gmpx-font-family-base: 'Poppins', 'Segoe UI', system-ui, sans-serif;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            width: 300px;
            margin: 8px auto;
        }

        gmp-map {
            height: calc(100% - 0px);
        }