<!DOCTYPE html>
<html lang='es'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Editor y Copiador de Texto</title>

  <!-- <link rel='stylesheet' href='../../../utils/css/close.button.css'> 
    <link rel='stylesheet' href='./previewMessage.css'>  -->

  <style>
    /* {{CSS_PLACEHOLDER}} */
  </style>
</head>

<body>
  <div class='header'>
    <button id='btnClose' class='close-button' aria-label='Cerrar'>&times;</button>
    <div class='header-content'>
      <h2 class='title'>Revisar y enviar a:&nbsp;</h2>
      <p>" & $contactoNombre & "</p>
    </div>
  </div>

  <div class="editor-container">

    <!-- Disclaimer superior -->
    <div class='ai-disclaimer-top'>La IA puede cometer errores. Verifica antes de enviar</div>

    <!-- Botón de Gemini -->
    <div class="gemini-corner-icon-wrapper">
      <div class="gemini-tooltip">
        Mejorar con <span class="gemeni-gradient">Gemeni</span>
      </div>
      <!-- <button id='aiButton' title='Mejorar con IA'> -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Google-gemini-icon.svg" alt="Logo de Gemini"
        id="aiButton" class="gemini-logo-img">
      <!-- </button> -->
    </div>

    <!-- Editor -->
    <textarea id='textEditor' aria-label='Editor de texto'></textarea>
  </div>

  <div id='loadingMessage' class='loading-message' style='display: none;'>
    <span class='spinner'></span>
    <span>Generando mensaje...</span>
  </div>

  <div class='footer-controls'>
    <div class='controls'>
      <button id='sendButton' title='Enviar'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'>
          <path d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z' />
        </svg>
        <span class='button-text'>Enviar</span>
      </button>
    </div>
  </div>

  <!-- <script type='module' src='./previewMessage.js'></script> -->

  <script>
    /* {{JS_PLACEHOLDER}} */
  </script>
</body>

</html>